<ion-view view-title="Signin">
  <div class="swipeIntro" ng-if="introModal">
    <div class="introSignin">
      <div class="signinLogo">
        <svg src="/img/Mopho_Logo.svg" alt="" ></svg>
      </div>
      <div class="goToSigninHolder">
          <div class="introSigninButton introButton col-xs-6 col-xs-offset-3">
            Sign In
          </div>
          <div class="introSignupButton introButton col-xs-6 col-xs-offset-3">
            Create An Account
          </div>
      </div>
    </div>
    <div class="swipeIntroRow" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
      <div class="col-xs-3 swipeCell swipe1">
        <h4>
          Take a Photo
        </h4>
        <div class="introPhoto">
          <img src="http://static2.businessinsider.com/image/507c6ebf69bedd185e000001-480/iphone-taking-pictures-pic-photo-photography-camera-cell-phone-bi-dng.jpg" alt="" />
        </div>
      </div>
      <div class="col-xs-3 swipeCell swipe2">
        <h4>
          Edit your Photos
        </h4>
        <div class="introPhoto">
          <img src="http://s11.postimg.org/a71hakfn7/IMG_6075.png" alt="" />
        </div>
      </div>
      <div class="col-xs-3 swipeCell swipe3">
        <h4>
          Upload a Photo Set
        </h4>
        <div class="introPhoto">
          <img src="http://s15.postimg.org/fqwjso0kb/submit.png" alt="" />
        </div>
      </div>
      <div class="col-xs-3 swipeCell swipe4">
        <h4>
          Earn Money
        </h4>
        <div class="introPhoto">
          <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Twenty_dollar_bills.JPG" alt="" />
        </div>
      </div>
    </div>
  </div>
  <ion-content>
    <div class="getPasswordModal" ng-if='getPasswordModal'>
      <div class="blackLayerPwModal"></div>
      <div class="pwX fa fa-times" ng-click='closePwModal()'></div>
      <input type="text" name="name" placeholder="enter email" ng-show="!newPwModal"  class='getPwEmail' style='height:45px; font-size: 23px; padding-top: 12px'>
      <div class='getPwButton' ng-click='retrievePW()' ng-show="!newPwModal">Get Password</div>
    </div>
    <div class="credentialContainer">
      <div class="signupModal" ng-if='signupModalVar'>
        <div class="signupInputHolder">
          <input type="text" class='signupEmail splashInput' placeholder='Email' ng-blur='checkValidEmail()'>
          <input type="password" class='signupPassword splashInput' placeholder='Password'>
          <input type="password" class='signupConfirmPassword splashInput' placeholder='Confirm Password'>
          <button type="button" class='submitSignup' ng-click='submitSignup()'>Sign Up</button>
          <div class="goToSignin" ng-mouseenter='hoverSignin($event)' ng-mouseleave='outHoverSignin($event)' ng-click='toggleSigns($event)'>
            Sign in?
          </div>
        </div>
        <!-- <div class="fbSignin">
          <img src="http://i.imgur.com/umDsi9f.png" alt="" ng-click='launchFB()'/>
        </div> -->
      </div>
      <div class="signinModal" ng-if='signinModalVar'>
        <div class="signupInputHolder">
          <input type="text" class='signupEmail splashInput' placeholder='Email'>
          <input type="password" class='signupPassword splashInput' placeholder='Password'>
          <button type="button" class='submitSignup subSignup' ng-click='signinToggleButton()'>Sign In</button>
          <div class="forgotPassword" ng-click='getPassword()'>
            Forgot Password?
          </div>
        </div>
        <div class="goToSignup" ng-mouseenter='hoverSignin($event)' ng-mouseleave='outHoverSignin($event)' ng-click='toggleSigns($event)'>
          Need to Create an Account?
        </div>
        <!-- <div class="fbSignin">
          <img src="http://i.imgur.com/umDsi9f.png" alt="" ng-click='launchFB()'/>
        </div> -->
      </div>
      <!-- <div class="carouselHolders">
        <div class="carouselImageHolder1">
          <img class='photoImage1' ng-src="{{photo1}}"/>
        </div>
        <div class="carouselImageHolder2">
          <img class='photoImage2' ng-src="{{photo2}}" />
        </div>
      </div>
      <div class="signupBlack"></div> -->
    </div>
  </ion-content>
</ion-view>
