<ion-view view-title="Upload" ng-controller='uploadCtrl'>
  <ion-content>
    <div class="navBar">
      <div class="col-sm-8 col-sm-offset-2 col-xs-6 col-xs-offset-0 nameTag">
        MoPho
      </div>
      <div class="col-sm-2 col-xs-6 signoutButton" ng-click="signoutUser()">
        Sign Out
      </div>
    </div>
    <h2 class='uploadTitle'>Upload a Photo</h2>
    <p>
      {{test}}
    </p>
    <div class="photoHolder" collection-repeat='photo in allPhotos'>
      <img src="{{photo}}" alt="" style='width:200px; height:140px; display:block'/>
    </div>
  </ion-content>
</ion-view>
