<ion-view view-title="Account"  ng-controller='accountCtrl'>
  <ion-content>
    <div class="swipeIntro" ng-if="introModal">
      <div class="swipeIntroRow" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
        <div class="col-xs-3 swipeCell swipe1">
          <p>
            Step 1
          </p>
          <h4>
            Take a Photo
          </h4>
          <div class="introPhoto">
            <img src="http://static2.businessinsider.com/image/507c6ebf69bedd185e000001-480/iphone-taking-pictures-pic-photo-photography-camera-cell-phone-bi-dng.jpg" alt="" />
          </div>
          <div class="endIntroButton" ng-click='exitIntro()'>
            Exit
          </div>
        </div>
        <div class="col-xs-3 swipeCell swipe2">
          <p>
            Step 2
          </p>
          <h4>
            Edit your Photos
          </h4>
          <div class="introPhoto">
            <img src="http://s11.postimg.org/a71hakfn7/IMG_6075.png" alt="" />
          </div>
          <div class="endIntroButton" ng-click='exitIntro()'>
            Exit
          </div>
        </div>
        <div class="col-xs-3 swipeCell swipe3">
          <p>
            Step 3
          </p>
          <h4>
            Upload a Photo Set
          </h4>
          <div class="introPhoto">
            <img src="http://s15.postimg.org/fqwjso0kb/submit.png" alt="" />
          </div>
          <div class="endIntroButton" ng-click='exitIntro()'>
            Exit
          </div>
        </div>
        <div class="col-xs-3 swipeCell swipe4">
          <p>
            Step 4
          </p>
          <h4>
            Earn Money
          </h4>
          <div class="dollarIcon">
            <i class='fa fa-dollar col-xs-2 col-xs-offset-3'></i><i class='fa fa-dollar col-xs-2'></i><i class='fa fa-dollar col-xs-2'></i>
          </div>
          <div class="endIntroButton" ng-click='exitIntro()'>
            Exit
          </div>
        </div>
      </div>
    </div>
    <div class="navBar">
      <div class="hamburgerBackground" ng-click='closeHamburgerBody($event)' ng-if="hamburgerOpen">
      </div>
      <div class="hamburgerMenu col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6" ng-if="hamburgerOpen">
        <div class="hamburgerCell" ng-click="closeHamburger()">
        </div>
        <div class="hamburgerCell hamburgerSignout" ng-click="hamburgerSignout()">
          Sign Out
        </div>
        <div class="hamburgerCell hamburgerSignout">
          Profile Settings
        </div>
        <div class="hamburgerCell hamburgerSignout">
          Banks & Cards
        </div>
        <div class="hamburgerCell hamburgerSignout" ng-click="openIntro()">
          Open Tutorial
        </div>
      </div>
      <div class="col-xs-8 col-xs-offset-2 nameTag">
        MoPho
      </div>
      <div class="col-xs-2 hamburgerHolder" ng-click="openHamburger()">
        <p class='fa fa-bars hamburgerIcon'></p>
      </div>
      <div class="col-xs-4 accountTab soldTab" ng-click='showSoldFunc()'>
        Sold
      </div>
      <div class="col-xs-4 accountTab submittedTab" ng-click='showSubmittedFunc()'>
        Submitted
      </div>
      <div class="col-xs-4 accountTab moneyTab" ng-click='showFinanceFunc()'>
        Money
      </div>
    </div>
    <div class="singleImageModal col-xs-12">
      <div class="backButton" ng-click='backToRepeat()'>
        go back
      </div>
      <div class="singleImageHolder col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0" >
        <img class='singleImage' ng-src="{{singlePhotoData.url}}" ng-if="!singlePhotoData.isVideo" />
        <video ng-src="{{singlePhotoData.url | trustUrl}}" class="singleImage col-xs-12" controls ng-if="singlePhotoData.isVideo"></video>
        <div class="singleInfoHolder col-xs-12">
          <h2>Photo Data</h2>
          <div class="singleWho">
            Who: {{singlePhotoData.photosubjects[0]}}, {{singlePhotoData.photosubjects[1]}}, {{singlePhotoData.photosubjects[2]}}
          </div>
          <div class="singleWho">
            When: {{singlePhotoData.date | date}}
          </div>
          <div class="singlePrice" ng-if='singlePhotoData.price'>
            You earned: {{singlePhotoData.price | currency}}
          </div>
        </div>
      </div>
    </div>
    <div class="singleSubmissionModal col-xs-12">
      <div class="backButton" ng-click='backToRepeat()'>
        go back
      </div>
      <div class="submissionRepeatContainer">
        <div class="col-sm-4 col-xs-6 subRepeat" ng-repeat="photo in singleSubmission.photos">
          <video ng-src="{{photo.url | trustUrl}}" class="col-xs-12" controls ng-if="photo.isVideo" ng-click='openSingle(photo)'></video>
          <img ng-src="{{photo.url | trustUrl}}" ng-if="!photo.isVideo" class="col-xs-12" ng-click='openSingle(photo)'/>
        </div>
      </div>
    </div>
    <div class="repeatContainer" id='repeatContainer'>
      <div class="" ng-if='showSold'>
        <div class="soldPhotosRepeat col-sm-4 col-xs-6" ng-repeat='soldPhoto in soldPhotos'>
          <div class="priceLayer" ng-click='openSingle(soldPhoto)'>
            {{soldPhoto.price | currency}}
          </div>
          <img class='allSoldPhotosRepeat' ng-src="{{soldPhoto.url}}" ng-if='!soldPhoto.isVideo' />
          <video ng-src="{{soldPhoto.url | trustUrl}}" class="col-xs-12" controls ng-if="soldPhoto.isVideo"></video>
        </div>
        <div class="col-sm-4 col-xs-6" style='padding:0px; margin: 0px'>
        </div>
      </div>
      <div class="" ng-if='showSubmitted'>
        <div class="submittedRow col-xs-12" ng-repeat='submission in userSubmissions'>
          <video class='allPhotosRepeat col-xs-6' ng-src="{{submission.photos[0].url | trustUrl}}" controls ng-if='submission.photos[0].isVideo' ng-click='openSubmission(submission)'></video>
          <img class='allPhotosRepeat col-xs-6' ng-click='openSubmission(submission)' ng-src="{{submission.photos[0].url}}" ng-if='!submission.photos[0].isVideo'/>
          <div class="submissionInfo col-xs-6">
            Date submitted: {{submission.date | date}}
          </div>
        </div>
      </div>
      <div class="" ng-if='showFinance'>
        the Money Stuff
        Total Earned: {{totalEarned | currency}}
        <div class="" ng-repeat='soldPhoto in soldPhotos'>
          {{soldPhoto.price | currency}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
