<ion-view view-title="Account">
  <ion-content>
    <div class="navBar">
      <div class="col-sm-8 col-sm-offset-2 col-xs-6 col-xs-offset-0 nameTag">
        MoPho
      </div>
      <div class="col-sm-2 col-xs-6 signoutButton" ng-click="signoutUser()">
        Sign Out
        <!-- <div class='signoutButton' ng-click="signoutUser()">Signout</div> -->
      </div>
    </div>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
