<ion-view view-title="Account">
  <ion-content overflow-scroll='false' has-bouncing="false">


    <div class="photoCarouselModal" ng-if='photoCarouselBool' id='new'>
      <div class="carouselBlackForBar"></div>
      <div class="photoCarouselBackAcct" ng-click='animateBackCarousel(); photoCarouselBack()'>
        <div class="carouselBackBlackLayer"></div>
        <i class='fa fa-chevron-left'></i>
      </div>
      <div class="videoPlayerIcon" ng-if='carouselMain.isVideo'>
        <i class='fa fa-play-circle'></i>
      </div>
      <div class="mainPhotoHolderAcct">
        <div ng-if="carouselMain.isVideo" class='clickVideo' ng-click="playVid()" on-swipe-right='photoCarouselSwipeRight()' on-swipe-left='photoCarouselSwipeLeft()'>
          <!-- <div class="watermarkCell watermarkSold" ng-if="carouselMain.price > 0">
            Sold!<br><br>
            {{carouselMain.price | currency}}
          </div> -->
          <div class="watermarkCell watermarkPending">
            MoPho
          </div>
          <!-- <div class="watermarkCell watermarkRejected" ng-if="carouselMain.status == 'rejected'">
            No Thanks
          </div> -->
        </div>
        <div class="watermarkLayer" ng-if="!carouselMain.isVideo" on-swipe-right='photoCarouselSwipeRight()' on-swipe-left='photoCarouselSwipeLeft()'>
          <!-- <div class="watermarkCell watermarkPending" ng-if="carouselMain.price > 0">
            Sold!<br><br>
            {{carouselMain.price | currency}}
          </div> -->
          <div class="watermarkCell watermarkPending">
            MoPho
          </div>
          <!-- <div class="watermarkCell watermarkRejected" ng-if="carouselMain.status == 'rejected'">
            No Thanks
          </div> -->
        </div>
        <i class='fa fa-download' ng-click='downloadPhoto(carouselMain)'></i>
        <img ng-if="!carouselMain.isVideo" ng-src="{{carouselMain.url}}" on-swipe-right='photoCarouselSwipeRight()' on-swipe-left='photoCarouselSwipeLeft()' class='mainPhotoCar'/>
        <video ng-if="carouselMain.isVideo" ng-src="{{carouselMain.url | trustUrl}}"  poster="{{carouselMain.thumbnail}}" webkit-playsinline id='carouselVideo'>
        </video>
      </div>
      <div class="photoActiveFrame"></div>
      <ion-scroll direction='x' has-bouncing='false' delegate-handle='carouselScroll' scrollbar-x=false class="photoCarouselHolder" on-scroll='carouselScroll()'>
        <div class="photoCarouselInner">
          <div class="photoCarouselCellAcct" ng-repeat="photo in singleSubmission.photos">
            <img ng-src="{{photo.thumbnail}}" id='{{$index}}' ng-click='clickCarouselPhoto(photo, $index)'/>
          </div>
        </div>
      </ion-scroll>
    </div>


    <div class="accountTabHolder col-xs-12">
      <div class="signoutButton" ng-click='hamburgerSignout()'>
        sign out
      </div>
      <!-- <div class="accountTab soldTab" ng-click='showSoldFunc(); tabUi($event)'>
        <span class='soldTabInner'>Sold</span>
      </div> -->
      <div class="accountTab submittedTab" ng-click='tabUi($event)'>
        <span class='submittedTabInner'>Your MoPho Set</span>
      </div>
      <!-- <div class="accountTab moneyTab" ng-click='showFinanceFunc(); tabUi($event)'>
        <span class='moneyTabInner'>Money</span>
      </div> -->
      <!-- <div class="hamburgerHolder" ng-click="openHamburger()">
        <p class='fa fa-bars hamburgerIcon'></p>
      </div> -->
    </div>
    <div class="accountBody col-xs-12">
      <div class="loadSpinnerBlack" ng-if='loadingModal'></div>
      <div class="loadSpinner" ng-if='loadingModal'>
        <img src="./img/MoPho_Logo_No_Background.png" alt="" ng-if='loadingModal'/>
      </div>
      <!-- <div class="backgroundImage col-xs-12">
        <img src="https://i.imgsafe.org/017d610.png" ng-repeat='photo in backgroundMultiple'/>
      </div> -->
      <!-- <div class="swipeIntro" ng-if="introModal">
        <div class="swipeIntroRow" >
          <div class="col-xs-3 swipeCell swipe1">
            <p>
              Step 1
            </p>
            <h4>
              Take a Photo
            </h4>
            <div class="introPhoto" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
              <img src="http://static2.businessinsider.com/image/507c6ebf69bedd185e000001-480/iphone-taking-pictures-pic-photo-photography-camera-cell-phone-bi-dng.jpg" alt="" />
            </div>
            <div class="endIntroButton" ng-click='exitIntro()'>
              Exit
            </div>
          </div>
          <div class="col-xs-3 swipeCell swipe2">
            <p>
              Step 2
            </p>
            <h4>
              Edit your Photos
            </h4>
            <div class="introPhoto" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
              <img src="http://s11.postimg.org/a71hakfn7/IMG_6075.png" alt="" />
            </div>
            <div class="endIntroButton" ng-click='exitIntro()'>
              Exit
            </div>
          </div>
          <div class="col-xs-3 swipeCell swipe3">
            <p>
              Step 3
            </p>
            <h4>
              Upload a Photo Set
            </h4>
            <div class="introPhoto" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
              <img src="http://s15.postimg.org/fqwjso0kb/submit.png" alt="" />
            </div>
            <div class="endIntroButton" ng-click='exitIntro()'>
              Exit
            </div>
          </div>
          <div class="col-xs-3 swipeCell swipe4">
            <p>
              Step 4
            </p>
            <h4>
              Earn Money
            </h4>
            <div class="introPhoto" ng-swipe-left='introSwipeLeft()' ng-swipe-right='introSwipeRight()'>
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Twenty_dollar_bills.JPG" alt="" />
            </div>
            <div class="endIntroButton" ng-click='exitIntro()'>
              Exit
            </div>
          </div>
        </div>
      </div> -->
      <!-- <div class="singleImageModal col-xs-12">
        <div class="backButton backButtonClose" ng-click='backToRepeat("single")'>
          <i class='fa fa-times'></i>
        </div>
        <div class="singleImageHolder" >
          <img class='singleImage' ng-src="{{singlePhotoData.url}}" ng-if="!singlePhotoData.isVideo" />
          <video ng-src="{{singlePhotoData.url | trustUrl}}" class="singleImage col-xs-12" controls ng-if="singlePhotoData.isVideo" poster='{{singlePhotoData.thumbnail}}'></video>
          <div class="singleInfoHolder col-xs-12">
            <div class="singleWho">
              Who: <span class="text-dark">{{singlePhotoData.photosubjects[0]}}, {{singlePhotoData.photosubjects[1]}}, {{singlePhotoData.photosubjects[2]}}</span>
            </div>
            <div class="singleWho">
              When: <span class="text-dark">{{singlePhotoData.date | date}}</span>
            </div>
            <div class="singlePrice" ng-if='singlePhotoData.price'>
              You earned: <span class="text-dark">{{singlePhotoData.price | currency}}</span>
            </div>
          </div>
        </div>
      </div> -->
      <div class="singleSubmissionModal col-xs-12" ng-if='singleSubmissionModal'>
        <div class="singleSubmissionBackground" ng-click='backToRepeat("submission")'></div>
        <div class="backButton col-xs-3" ng-click='backToRepeat("submission")'>
          <i class="fa fa-angle-left" aria-hidden="true"></i> Back
        </div>
        <div class="submissionTitle col-xs-6 col-xs-offset-3">
          {{singleSubmission.metadata.who}}
        </div>

        <ion-scroll class="submissionRepeatContainer" has-bouncing='true'>
          <div class="submitCellAcct" ng-repeat='photo in singleSubmission.photos'>
            <div class="submitCellImageHolder {{photo.isVideo}}" >
              <img class='submitPhoto submitPhoto{{$index}}' id='submit{{$index}}' ng-src="{{photo.thumbnail}}" ng-click='goToCarousel(photo, $index, $event)'/>
              <!-- <img class='submitPhoto submitPhoto{{$index}}' id='submit{{$index}}' ng-src="{{photo.thumbnail}}" ng-if='photo.isVideo' ng-click='goToCarousel(photo, $index, $event)'/> -->
              <!-- <video id='submit{{$index}}' ng-if='photo.isVideo' poster='{{photo.thumbnail}}' source ng-src="{{photo.url}}" type="video/mp4"> -->
                  <!-- (Your Browser Doesn't Support Video) -->
              </video>
            </div>
          </div>
        </ion-scroll>

        <div class="col-xs-12 submissionDataHolder">
          <p>
            What:</br>
            <span>{{singleSubmission.metadata.what}}</span>
          </p>
          <p>
            When: </br>
            <span>{{singleSubmission.metadata.date}}</span>
          </p>
          <div class="submissionStatusReport submissionStatusReportPending" ng-if='singleSubmission.price === 0 && singleSubmission.rejectedPhotosLength === 0'>
            Pending
          </div>
          <div class="submissionStatusReport submissionStatusReportInReview" ng-if="singleSubmission.price === 0 && singleSubmission.rejectedPhotosLength > 0 && singleSubmission.rejectedPhotosLength !== singleSubmission.photos.length">
            In Review
          </div>
          <div class="submissionStatusReport submissionStatusReportRejected" ng-if="singleSubmission.rejectedPhotosLength === singleSubmission.photos.length">
            No Thanks
          </div>
          <div class="submissionStatusReport submissionStatusReportPaid" ng-if='singleSubmission.price > 0'>
            Paid!</br>
            {{singleSubmission.price | currency}}
          </div>
        </div>
      </div>
      <!-- <div class="submissionStatus photoStatusPending" ng-if='submission.price === 0 && submission.rejectedPhotosLength === 0'>
        Pending
      </div>
      <div class="submissionStatus photoStatusRejected" ng-if="submission.rejectedPhotosLength === submission.photos.length">
        No thanks
      </div>
      <div class="submissionStatus photoStatusPaid" ng-if='submission.price > 0'>
        Paid!</br>
        {{submission.price | currency}}
      </div> -->

      <!-- /////begin repeat-photo container -->
      <div class="repeatContainer col-xs-12 " id='repeatContainer'>
        <!-- /////begin tab for sold photos//// -->
        <!-- <div class="" > -->
          <!-- <div class="soldPhotosRepeatContainer col-xs-12" ng-if='showSold'>
            <div class="sellPhotoModal" ng-if="sellModal">
              <div class="sellX fa fa-times" ng-click='closeSellModal()'></div>
              <div class="sellModalBlack" ng-click='closeSellModal()'></div>
              <div class="sellModalContent col-xs-8 col-xs-offset-2">
                <div class="sellPhotoHolder col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
                  <img ng-src="{{singlePhotoData.url}}" ng-if="!singlePhotoData.isVideo" />
                  <video ng-src="{{singlePhotoData.url | trustUrl}}" class="col-xs-12" controls ng-if="singlePhotoData.isVideo" poster='{{singlePhotoData.thumbnail}}'></video>
                </div>
                <div class="sellPrice col-xs-12">
                  Sell this photo for {{singlePhotoData.price | currency}}?
                </div>
                <div class="sellButtonContainer col-xs-12">
                  <div class="sellButton sellYes col-xs-6" ng-click='buyRejectPhoto("sold", singlePhotoData)'>
                    Yes, Sell Photo
                  </div>
                  <div class="sellButton sellNo col-xs-6" ng-click='buyRejectPhoto("rejected", singlePhotoData)'>
                    Reject Offer
                  </div>
                </div>
              </div>
            </div>
            <div class="soldPhotosRepeat col-md-6 col-xs-12" ng-repeat='soldPhoto in allSoldPhotos'>
              <div class="soldInnerHolder">
                <div class="blackLayerSingleModal"></div>
                <div class="priceLayer" ng-click=''>
                  <div class="priceInfo">
                    {{soldPhoto.price | currency}}
                  </div>
                  <div class="ifSold" ng-if="soldPhoto.status == 'offered for sale'">
                    Accept Offer
                  </div>
                  <div class='ifPaid' ng-if='soldPhoto.status == "sold"'>
                    Sold!
                  </div>
                </div>
                <img class='allSoldPhotosRepeat' ng-src="{{soldPhoto.url}}" ng-if='!soldPhoto.isVideo' />
                <video ng-src="{{soldPhoto.url | trustUrl}}" class="col-xs-12" controls ng-if="soldPhoto.isVideo"></video>
              </div>
            </div>
          </div> -->
        <!-- </div> -->
        <div class="showSubmittedHolder" ng-if='showSubmitted'>
          <div class="submittedRow submittedRow{{$index}}" ng-repeat='submission in userSubmissions' ng-click='openSubmission(submission, $event)' >
            <div class="submitPhotosHolder">
              <div class="subPhotoCell subPhoto0" ng-if='submission.photos[0] && !submission.photos[0].isVideo'>
                <img src="{{submission.photos[0].thumbnail}}" alt="" />
              </div>
              <div class="subPhotoCell subPhoto0" ng-if='submission.photos[0] && submission.photos[0].isVideo'>
                <img ng-src={{submission.photos[0].thumbnail}}></img>
              </div>
            </div>
            <div class="submissionInfo" >
              <div class="submissionInfo-name">{{submission.metadata.who}}</div>
              <div class="submissionInfo-location">{{submission.metadata.address.slice(0, submission.metadata.address.length-13)}}</div>
              <div class="submissionInfo-date">{{submission.metadata.date}}</div>
            </div>
            <div class="submissionStatus photoStatusPending" ng-if='submission.price === 0 && submission.rejectedPhotosLength === 0'>
              Pending
            </div>
            <div class="submissionStatus photoStatusInReview" ng-if="submission.price === 0 && submission.rejectedPhotosLength > 0 && submission.rejectedPhotosLength !== submission.photos.length">
              In Review
            </div>
            <div class="submissionStatus photoStatusRejected" ng-if="submission.rejectedPhotosLength === submission.photos.length">
              No thanks
            </div>
            <div class="submissionStatus photoStatusPaid" ng-if='submission.price > 0'>
              Paid!</br>
              {{submission.price | currency}}
            </div>
          </div>
        </div>
        <!-- <div class="" ng-if='showFinance'>
          <div class="earnings-bar">
            <div class="earnings-bar-label">
              Total Money Earned
            </div>
            <div class="earnings-bar-amount">
              {{totalEarned | currency}}
            </div>
          </div>
          <div class="finCell" ng-repeat='soldPhoto in allTransactions'>
            <div class="finPhoto">
              <img src="{{soldPhoto.photos[0].thumbnail}}" ng-click='openSingle(soldPhoto.photos[0], "sold")'/>
            </div>
            <div class="finDetails">
              <div class="finPrice">
                {{soldPhoto.price | currency}}
              </div>
              <div class="finDate">
                Sold on <span class="text-dark">{{soldPhoto.photos[0].date}}</span>
              </div>
              <div class="finOpenImage" ng-click='openFin($event, soldPhoto)'>
                More Details <i class="fa fa-angle-down" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="cta-container">
            <div class="cta-text">Let us know how to pay you</div>
            <button class="cta-button" ng-click="goToBanking()">add/update payment info</button>
          </div> -->
          <!--<div class='sendFinDataButton col-xs-4 col-xs-offset-2' ng-click='sendFinData()'>Send Financial Data as Email</div> -->
        <!-- </div> -->
      </div>
    </div>
    <!-- <div class=""> -->
      <!-- <div class="hamburgerBackground" ng-click='closeHamburgerBody($event)' ng-if="hamburgerOpen">
      </div>
      <div class="hamburgerMenu" ng-if="hamburgerOpen">
        <div class="hamburgerCell hamburgerSignout">
          <i class="fa fa-fw fa-cog" aria-hidden="true"></i> Profile Settings
        </div>
        <div class="hamburgerCell hamburgerSignout" ng-click="goToBanking()">
          <i class="fa fa-fw fa-credit-card" aria-hidden="true"></i> Banks & Cards
        </div>
        <div class="hamburgerCell hamburgerSignout" ng-click="openIntro()">
          <i class="fa fa-fw fa-question-circle-o" aria-hidden="true"></i> View Tutorial
        </div>
        <div class="hamburgerCell hamburgerSignout" ng-click="hamburgerSignout()">
          <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Sign Out
        </div>
      </div> -->
      <!-- <div class="col-xs-8 col-xs-offset-2 nameTag">
        MoPho
      </div>
      <div class="col-xs-2 hamburgerHolder" ng-click="openHamburger()">
        <p class='fa fa-bars hamburgerIcon'></p>
      </div> -->
    <!-- </div> -->
  </ion-content>
</ion-view>
