<ion-view view-title="Camera" ng-controller='cameraCtrl'>
  <ion-content class="">
    <div class="cameraModal" ng-show='cameraModal==true'>
      <div class="cameraLensHolder">
        <canvas id="camera"style="border:2px"></canvas>
      </div>
      <button type="button" name="button" ng-click='takeCordovaPicture()'>Take Photo</button>
    </div>
    <img ng-src="{{newPhotoData}}" alt="" />
    <div class="submitModal" ng-if='submitModalVar'>
      <div class="submitCropContainer">
        <div class="backToSubmit col-xs-6" ng-click='backToSubmit()'>
          Back
        </div>
        <div class="cropPhoto col-xs-6">
          Crop
        </div>
      </div>
      <div class="submitModalContainer">
        <div class="backToPhotos col-xs-4" ng-click='backToPhotos()'>
          Back
        </div>
        <div class="submitButton col-xs-4" ng-click='submitAllPhotos(mediaCache)'>
          Submit Photos
        </div>
        <div class="submitDelete col-xs-4" ng-click='deletePhotos()'>
          Delete
        </div>
        <div class="submitRepeat">
          <div class="submitCell col-xs-6" ng-repeat='media in mediaCache'>
            <i class="fa fa-circle-thin" ng-click='selectSubmitted($event, $index)'></i>
            <img ng-src="{{media.link}}" ng-if='media.type=="photo"' ng-click='cropPhoto(media, $event)'/>
            <video ng-src="{{media.link}}" ng-if='media.type=="video"'></video>
          </div>
        </div>
      </div>
    </div>
    <div class="cameraBackground">
      <div class="shootButton" ng-click='openPhotoModal()'>
        Shoot<br>some<br>MoPhos
      </div>
      <div class="shootButton" ng-click='getPic()'>
        Film<br>some<br>MoPhos
      </div>
      <div class="submitButton col-xs-4 col-xs-offset-8" ng-click='openSubmitModal()'>
        Submit Your Photos
      </div>
    </div>
    <div>
    </div>
  </ion-content>
</ion-view>
