
/****** Money Tab ******/

.earnings-bar {
  height: 60px;
  padding: 0px 15px;
  background-color: #F6FAF5;
  border-bottom: 1px solid #EAF6E7;
  display: flex;
  justify-content: space-between;
}

.earnings-bar-label {
  font-size: 14px;
  color: #8B8B8B;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.earnings-bar-amount{
  font-size: 22px;
  color: #42B17A;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/****** Sold Photos List ******/

.finCell {
  height: auto;
  width: 100%;
  display: flex;
  padding: 10px 15px;
  border-bottom: 1px solid #f3eeee;
}

.finPhoto {
	flex: 0 0 80px;
  padding: 0px;
  height: 80px;
  background-color: #acacac;
}

.finPhoto img {
  width: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.finDetails {
	/*flex-grow: 1;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;*/
}

.finPrice{
	font-size: 18px;
	color: #42b17a;
	margin-bottom: 2px;
}

.finDate{
	color: #888888;
}

.finOpenImage {
  font-size: 14px;
}

.finOpenHolder {
  height: 30px;
  margin: 0 0 10px 0;
  padding: 0px;
  background-color: #c8cfd6;
}


/****** CTA ******/

.cta-container{
	margin: 50px 0;
	padding: 20px 0;
	background: #F6FAF5;
	border: 1px solid #EAF6E7;
	border-width: 1px 0;
	text-align: center;
}

.cta-text{
	font-size: 18px;
	color: #5D5D5D;
	text-align: center;
	margin-bottom: 15px;
}

.cta-button{
	font-size: 13px;
	border: 1px solid #42B17A;
	color: #42B17A;
	border-radius: 3px;
	padding: 5px 15px;
	background: transparent;
}


/****** Banking ******/

.nav-back-button{
	position: absolute;
	left: 15px;
	bottom: 12px;
	background-color: #54CF92;
	padding: 4px 10px;
	border-radius: 3px;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 1px;
}

.bankingTab {
  height: 100%;
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
}

.bankingTitle {
  font-size: 20px;
  color: white;
}

.bankContainer {
  width: 100%;
  height: 667px;
  margin-top: 75px;
}

.bankInfoHolder {
  height: auto;
  border: 2px solid white;
  padding: 0px;
  margin: 50px auto 0;
}

.bankAddAccount{
	width: 80%;
	margin: 0 auto;
}

.bankInfoTitle {
  height: 55px;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
}

.bankAccount {
  font-size: 50px;
  color: white;
}

.bankAddAccount {
  color: #42B17A;
  border: 1px solid #42B17A;
  border-radius: 3px;
  padding: 10px 12px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.bankAddedAcct {
  color: white;
  font-size: 20px;
  height: 55px;
  margin-left: 15px;
}

.bankBack {
  width: 165px;
  height: 40px;
  border: 2px solid white;
  font-size: 25px;
  padding-top: 8px;
  text-align: center;
  margin: 10px 10px 0 0;
  float: right;
}

.bankNext {
  float: right;
  height: 40px;
  margin-top: 10px;
  text-align: right;
  font-size: 18px;
  letter-spacing: 1px;
  color: #4daf7c;
}

.bankPass {
	margin: 0 auto 10px;
  font-size: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
}

.bankPasswordHolder {
  height: auto;
  margin-top: 50px;
  padding: 0px;
}

.bankPasswordTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.bankPlusIcon {
  margin-right: 5px;
}

.bankContainer .cta-text{
	font-size: 15px;
}
