.cameraBack {
  position: absolute;
  top: 8px;
  left: 10px;
  color: white;
}

.cameraButtonsContainer {
  width: 100%;
  display: block;
  position: absolute;
  height: 120px;
  padding: 0px;
  z-index: 17;
  bottom: 0;
}

.cameraViewToggle{
	position: absolute;
	top: 11px;
	right: 12px;
	text-align: right;
}

.toggleCameraIcon {
  color: white;
  font-size:35px;
  opacity: 0.75;
}