



.goToSigninHolder{
	position: absolute;
	bottom: 30px;
	left: 0;
	right: 0;
}

/****** Sign up / Sign in ******/


.submitSignup {
  color: #ffffff;
  margin-top: 25px;
  background-color: #4DAF7C;
  font-size: 20px;
  padding: 10px 20px;
  font-family: 'Helvetica Neue';
  border-radius: 3px;
  text-align: center;
  display: block;
}

.introOr {
  color: #cccccc;
  margin-top: 10px;
  text-align: center;
  font-family: 'Helvetica Neue', arial, san-serif;
}

.introOr2 {
  color: #cccccc;
  margin-top: 40px;
  text-align: center;
  font-family: 'Helvetica Neue', arial, san-serif;
}

.goToSignin {
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #4DAF7C;
  color: #4DAF7C;
  font-size: 22px;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  font-family: 'Helvetica Neue', arial, san-serif;
  border-radius: 3px;
  display: inline-block;
}

.goToSignup {
  margin-top: 15px;
  background-color: transparent;
  border: 1px solid #4DAF7C;
  color: #4DAF7C;
  text-align: center;
  font-size: 22px;
  padding: 10px 20px;
  width: 100%;
  font-family: 'Helvetica Neue', arial, san-serif;
  border-radius: 3px;
  display: inline-block;
}
