/* Empty. Add your own CSS if you like */

body {
  font-family: "Akzidenz Grotesk";
}


/*body, ion-tabs, .pane, .tab-nav, .tabs, html, ion-pane, ion-content, ion-view, ion-nav-view, .scroll, .platform-ios, .view, .platform-ios, .cameraModal {
  background-color: transparent;
}*/

/*ion-content {
  height: auto;
}

ion-view {
  height: auto;
}*/

.accountBody {
  padding: 0px;
  position: absolute;
  overflow: hidden;
  /*background-color: grey;*/
  /*height: 100%;*/
  /*background-image: url('http://i63.tinypic.com/nb40ol.jpg');*/
  /*background-attachment: fixed;*/
  background-repeat:repeat-y;
}

.accountTab {
  height: 100%;
  padding: 0px;
  color: white;
  font-size: 16px;
  padding-top: 15px;
  text-align: center;
}

.accountTabHolder {
  /*margin-top: 55px;*/
  /*background-color: #013220;*/
  padding: 0px;
  height: 55px;
  z-index: 10
}

.allPhotosRepeat {
  padding: 0px;
  height: 100%;
}

.allSoldPhotosRepeat {
  padding: 0px;
  width: 100%;
  min-height: 100%;
}

.backButton {
  width: 140px;
  height: 45px;
  margin: 5px 0 0px 0;
  /*background-color: purple;*/
  color: #2cec2c;
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  padding-top: 10px;
  text-align: center;
  z-index: 25;
  position: absolute;
}

.backgroundImage {
  height: auto;
  padding: 0px;
  position: absolute;
}

.backgroundImage img {
  width: 100%;
  margin-top: -6px;
  opacity: .8;
}

.backToPhotos {
  height: 65px;
  background-color: purple;
  color: white;
  font-size: 23px;
  text-align: center;
  padding-top: 8px;
}

.backToSubmit {
  height: 60px;
  background-color: magenta;
  z-index: 12;
  font-size: 22px;
  color: white;
  padding-top: 12px;
}

.bankAccount {
  font-size: 50px;
  color: white;
}

.bankAddAccount {
  color: white;
  font-size: 20px;
  height: 55px;
  margin-left: 15px;
  padding-top: 10px;
}

.bankAddedAcct {
  color: white;
  font-size: 20px;
  height: 55px;
  margin-left: 15px;
}

.bankBack {
  width: 165px;
  height: 40px;
  border: 2px solid white;
  font-size: 25px;
  padding-top: 8px;
  text-align: center;
  margin: 10px 10px 0 0;
  float: right;
}

.bankContainer {
  background-color: #939393;
  width: 100%;
  height: 667px;
}

.bankInfoHolder {
  height: auto;
  margin-top: 30%;
  border: 2px solid white;
  padding: 0px;
}

.bankInfoTitle {
  height: 55px;
  background-color: gray;
  color: white;
  text-align: center;
  font-size: 20px;
  padding-top: 10px;
  border-bottom: 1px dashed #bdbdbd;
}

.bankNext {
  float: right;
  width: 30%;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  color: white;
  padding-top: 7px;
  font-size: 22px;
  border-top: 2px dashed black;
  border-left: 2px dashed black;
}

.bankPass {
  width: 80%;
  margin-top: 10px;
  margin-left: 10%;
  height: 50px;
  font-size: 20px;
  text-align: center;
}

.bankPasswordHolder {
  height: auto;
  border: 2px solid white;
  margin-top: 30%;
  padding: 0px;
}

.bankPasswordTitle {
  height: 35px;
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 10px;
}

.bankPlusIcon {
  margin-right: 5px;
}

.blackLayerPwModal {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  background-color: black;
  z-index: -1
}

.blankSpace {
  height: 15px;
}

.buttonDiv {
  margin-top: 35px;
}

#camera {
}

.cameraBack {
  position: absolute;
  margin: 0px 0 0  10px;
  color: white;
  font-size: 28px;
  width: 50px;
  /*outline: 2px solid white;*/
}

.cameraBackground {
  background-color: black;
  width: 100%;
  height: 670px;
  position: absolute;
}

.cameraBlackLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.4
}

.cameraButtonCell {
  margin-top: 20px;
}

.cameraButtonsContainer {
  width: 100%;
  display: block;
  position: absolute;
  height: 120px;
  /*background-color: black;*/
  padding: 0px;
  margin-top: -120px;
  z-index: 17;
}

.cameraLensHolder {
  height: 100%;
  width: 100%;
}

.cameraModal {
  width: 100%;
  height: 568px;
  position: fixed;
  background-color: black;
  z-index: 15;
}

.carouselHolders {
  width: 300%;
  height: 667px;
  opacity: 0.7
}

.carouselImageHolder1 {
  position: absolute;
  margin-left: -0%;
  width: 100%;
  height: 100%;
  padding: 0%;
}

.carouselImageHolder2 {
  margin-left: 100%;
  position: absolute;
  width: auto;
  height: auto;
  padding: 0px;
}

.carouselImageHolder1 img{
  padding: 0px;
  height: 667px;
  width: 375px;
}

.carouselImageHolder2 img{
  padding: 0px;
  height: 667px;
  width: 375px;
  /*opacity: 0.2;*/
}

.circleBlack {
  position: absolute;
  width: 52px;
  height: 50px;
  margin-left: -5%;
  margin-top: -5%;
  background-color: black;
  opacity: 0.1;
  border-bottom-right-radius: 8px;
}

.circleHolder {
  /*overflow: hidden;*/
  padding: 0px;
  margin-top: 7%;
  margin-left: 7%;
  height: 30%;
  position: absolute;
  z-index: 2;
}

.credentialContainer {
  width: 100%;
  height: 736px;
  background-color: pink;
}


.cropHolder {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0px;
  /*margin-top: 60px;*/
}

.cropHolder img {
  height: auto;
  width: 75%;
  margin-left: 12.5%;
  margin-top: 50px;
}

.cropIconHolder {
  position: absolute;
  width: 100%;
  padding-top: 15px;
  height: 120px;
  text-align: center;
  color: white;
  margin-top: 80px;
  font-size: 50px;
  opacity: 0.5;
  z-index: 2;
}

.cropImage {
  padding-top: 60px;
  height: 400px;
  /*margin-left: auto;
  margin-right: auto;*/
}

.cropper-container img{
  outline: 5px solid green;
  height: 600px;
  width: auto;
}

.cropPhoto {
  height: 60px;
  background-color: orange;
  text-align: center;
  z-index: 12;
  font-size: 22px;
  color: white;
  padding-top: 12px;
}

.cropper-container {
  height: 500px;
  width: 100%;
}

.dollarIcon {
  margin-top: 20px;
  margin-bottom: 40px;
  height: 100px;
  text-align: center;
}

.dollarIcon i {
  font-size: 90px;
  color: white;
  height: 100%;
}

.editAcct {
  text-align: center;
  background-color: #660000;
  opacity: .4;
  color: white;
  height: 100%;
  padding: 15px;
  font-size: 25px
}

.editAcctTitle {
  color: white;
  height: 100%;
  padding: 7px 0 0 0;
  font-size: 18px
}

.editBlackLayer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: black;
  opacity: .8
}

.editModal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.editOptions {
  margin-top: 160px;
  height: 150px;
  border: 2px solid white;
  padding: 0px;
  opacity: 1;
  z-index: 1000;
}

.endIntroButton {
  width: 30%;
  margin-left: 35%;
  height: 40px;
  margin-top: 15px;
  outline: 2px solid white;
  text-align: center;
  padding-top: 7px;
  font-size: 20px;
  color: white;
}

.fbSignin {
  padding-top: 15px;
  height: auto;
  width: 40px;
  margin: 0 auto;
}

.fbSignin img{
  height: 100%;
  width: 100%;
}

.fbText {
  text-align: center;
  font-size: 25px;
}

.forgotPassword {
  margin-top: 25px;
  width: 70px;
  float: right;
  margin-right: 20px;
  font-size: 15px;
}

.getPasswordModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.getPwButton {
  width: 160px;
  height: 45px;
  margin-top: 15px;
  background-color: green;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}

.getPwEmail {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 35%;
  border-radius: 4px;
}

.goToSignin {
  width: 20%;
  margin-left: 5%;
  text-align: center;
  padding-top: 10px;
  font-size: 25px;
  color: white;
  display: absolute;
}

.goToSignup {
  padding-top: 15px;
  font-size: 18px;
  color: white;
  display: absolute;
}

.jr-crop-img {
  width: 70%;
  margin-left: 15%;
  margin-top: 0px;
  height: auto;
}

.jr-crop-img img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.hamburgerBackground {
  position: absolute;
  background-color: black;
  opacity: .3;
  width: 100%;
  height: 1000px;
  z-index: 17;
}

.hamburgerCell {
  height: 65px;
  border-bottom: 3px solid gray;
  padding: 15px 0 0 0;
  cursor: pointer;
}

.hamburgerFirst {
  /*margin-top: 45px;*/
}

.hamburgerHolder {
  text-align: center;
  color: white;
  top: 0;
  padding: 0px;
  margin-top: 8px;
}

.hamburgerIcon {
  font-size: 27px;
  /*margin-top: 5px;*/
}

.hamburgerMenu {
  position: absolute;
  height: auto;
  background-color: #683A5E;
  color: white;
  opacity: 1;
  z-index: 18;
  padding: 0px;
}

.ifPaid {
  position: absolute;
  height: 40px;
  /*width: 70px;*/
  background-color: green;
}

.ifSold {
  position: absolute;
  background-color: red;
  opacity: .55;
  padding-top: 10px;
  color: white;
  text-align: center;
  height: 40px;
  width: 100%;
  font-size: 23px;
}

#image {
  width: 200px;
  height: 200px;
}

.introPhoto {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0px;
  opacity: 0.7;
}

.introPhoto img {
  width: 100%;
  height: 100%;
  /*position: absolute;*/
}

.ion-content {
  margin: 0px;
  padding: 0px;
}

.loadSpinner {
  width: 150px;
  height: 150px;
  margin-left: 100px;
  margin-top: 200px;
  position: absolute;
  z-index: 20
}

.loadSpinner img{
  position: absolute;
  width: 100%;
  height: 100%;
}

.longArrow {
  font-size: 60px;
  opacity: .6;
}

.nameTag {
  height: 45px;
  padding-top: 10px;
  color: white;
}

.navBar {
  width: 100%;
  height: 55px;
  text-align: center;
  font-size: 25px;
  background-color: #005d00;
  /*margin-bottom: 55px;*/
}

.optionDelete {
  background-color: red;
  color: white;
  font-size: 26px;
  text-align: center;
  padding-top: 50px;
}

.optionEdit{
  background-color: green;
  color: white;
  font-size: 22px;
  text-align: center;
  padding-top: 35px;
}

.optionOption {
  height: 100%;
}

.outCameraModal {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid white;
  color: white;
  font-size: 14px;
  padding-top: 17px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.priceInfo {
  padding-top: 80px;
}

.priceLayer {
  position: absolute;
  background-color: black;
  color: white;
  opacity: 0.3;
  width: 90%;
  height: 90%;
  font-size: 20px;
  text-align: center;
  z-index: 5;
}

.pwX {
  position: absolute;
  margin-left: 88%;
  font-size: 35px;
  color: white;
  margin-top: 15px;
}

.repeatContainer {
  padding: 0px;
  min-height: 100%;
  /*background-color: #d3d3d3;*/
}

.sellButton {
  height: 100%;
  outline: 2px solid white;
  padding: 0px;
}

.sellButtonContainer {
  height: 75px;
  padding: 0px;
}

.sellModalBlack {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .6;
}

.sellModalContent {
  height: 340px;
  margin-top: 25px;
  padding: 0px;
  background-color: #e7e7e7;
}

.sellNo {
  background-color: red;
  opacity: .4;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.sellPhotoHolder {
  margin-top: 15px;
  height: 200px;
  outline: 2px solid black;
  background-color: #141414;
}

.sellPhotoHolder img{
  height: 100%;
  display: block;
  margin: 0 auto;
}

.sellPhotoHolder video{
  height: 100%;
  display: block;
  margin: 0 auto;
}

.sellPhotoModal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 22;
}

.sellPrice {
  height: 50px;
  /*color: white;*/
  text-align: center;
  font-size: 22px;
  padding-top: 10px;
}

.sellYes {
  background-color: purple;
  opacity: .4;
  color: white;
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.shootButton {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: white;
  background-color: red;
  margin: 20px auto 0 auto;
  padding-top: 45px;
  text-align: center;
  font-size: 20px;
}

.signBackground {
  width: 100%;
  height: auto;
}

.signin {
  height: 100%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  color: white;
}

.signinLogo {
  width: 60%;
  margin-left: 20%;
  margin-top: 60px;
  height: auto;
  position: absolute;
  outline: 2px solid blue;
  z-index: 5;
}

.signinLogo img{
  width: 100%;
  position: absolute;
}

.signinModal {
  margin-top: 135px;
  position: absolute;
  width: 100%;
  height: auto;
  color: white;
  z-index: 2;
}

.signinOr {
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.signinTabs {
  height: 60px;
  width: 100%;
}

.signout {
  height: 100%;
  background-color: purple;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  color: white;
}

.signup {
  height: 100%;
  display: inline-block;
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  color: white;
}

.signupBlack {
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.12;
  height: 330px;
  width: 100%;
  margin-top: -330px;
  /*bottom: 0;*/
}

.signupInputHolder {
  margin-top: 25%;
  width: 100%;
}

.signupInputHolder input {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  height: 45px;
  font-size: 23px;
  padding-top: 12px
}

.signupModal {
  width: 100%;
  height: auto;
  padding-top: 80px;
  color: white;
  z-index: 2;
}

.singleImage {
  padding: 0px;
  width: 100%;
  height: 300px;
}

.singleImageHolder {
  padding: 0px;
  height: auto;
  outline: 3px solid purple;
}

.singleImageModal {
  position: fixed;
  height: 667px;
  margin-left: 100%;
  background-color: gray;
  z-index: 7;
}

.singleInfoHolder {
  margin-top: 25px;
}

.singlePrice {
  height: 45px;
  font-size: 21px;
  color: white
}

.singleSubmissionBackground {
  position: absolute;
  width: 100%;
  height: 1000%;
  background-color: black;
  opacity: 0.4;
}

.singleSubmissionModal {
  position: absolute;
  height: auto;
  padding: 0px;
  z-index: 25;
}

.singleWho {
  height: 45px;
  font-size: 21px;
  color: white
}

.soldInnerHolder {
  width: 90%;
  height: 90%;
  margin: 5% 0 0 5%;
  overflow: hidden;
}

.soldPhotosRepeat {
  padding: 0px;
  height: auto;
  overflow: hidden;
}

.soldPhotosRepeat video {
  height: 100%;
  width: 100%;
  background-color: black;
}

.soldPhotosRepeatContainer {
  height: auto;
  padding: 0px;
}

.soldSign {
  color: red;
  border: white;
  border-radius: 4px;
  font-size: 40px;
  margin-top: 20px;
}

.splashInput {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  margin-top: 10px;
  border-radius: 4px;
  height:55px;
  font-size: 23px;
  padding-top: 12px
}

.submissionInfo {
  font-size: 22px;
  padding-top: 20px;
}

.submissionRepeatContainer {
  z-index: -3;
  margin-top: 55px;
}

.submitButton {
  height: 65px;
  background-color: green;
  color: white;
  font-size: 23px;
  text-align: center;
  padding-top: 8px;
  /*z-index: 10000;*/
}

.submitCell {
  height: 200px;
  padding: 0px;
  overflow: hidden;
}

.submitCell i {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px;
  font-size: 35px;
  font-weight: 900;
  color: white;
  border: black;
}

.submitCell img{
  /*position: absolute;*/
  width: 100%;
  height: auto;
}

.submitCell video{
  padding: 0px;
  width: 90%;
  height: 90%;
  margin: 5% 0 0 5%;
}

.submitCellImageHolder {
  overflow: hidden;
  padding: 0px;
  width: 90%;
  height: 90%;
  margin: 5% 0 0 5%;
}

.submitCropContainer {
  outline: 2px solid blue;
  width: 100%;
  height: 400px;
  margin-left: 100%;
  /*margin-top: 100px;*/
  position: fixed;
  z-index: 11;
  background-color: gray;
}

.submitDelete {
  height: 65px;
  background-color: blue;
  color: white;
  font-size: 23px;
  text-align: center;
  padding-top: 8px;
}

.submitModal {
  width: 100%;
  height: 660px;
  position: fixed;
  background-color: gray;
  z-index: 16;
}

.submitModalContainer {
  width: 100%;
  height: 100%;
}

.submitModal {
  position: absolute;
}

.submitPhotosHolder {
  padding: 0px;
  height: 100px;
  margin-top: 15px;
  min-width: 100%;
}

.submitRepeat{
  padding: 0px;
}

.submitSetDiv {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 4px solid #8CDD81;
  color: #8CDD81;
  font-size: 14px;
  padding-top: 17px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.submittedRow {
  padding: 0px;
  height: 130px;
  border-bottom: 2px solid gray;
}

.submitSignup {
  width: 40%;
  height: 40px;
  margin-left: 30%;
  margin-top: 25px;
  background-color: green;
  display: inline-block;
}

.subPhoto0 {
  z-index: 6;
}

.subPhoto1 {
  z-index: 5;
  margin-left: 20px;
}

.subPhoto2 {
  z-index: 4;
  margin-left: 40px;
}

.subPhoto3 {
  z-index: 3;
  margin-left: 60px;
}

.subPhotoCell {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid gray;
}

.subPhotoCell img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.subRepeat {
  outline: 2px solid black;
  padding: 0px;
}

.subRepeat img {
  padding: 0px;
}

.subRepeat video {
  padding: 0px;
  border: 5px solid black;
}

.swipeCell {
  border: 2px solid white;
  height: 100%;
  padding: 0px
}

.swipeCell p {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 40%;
}

.swipeCell h4 {
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 18px;
}

.swipeIntro {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: red;
  position: fixed;
  z-index: 20;
}

.swipeIntroRow {
  width: 400%;
  border: 2px solid black;
  height: 100%;
}

.takePhotoButton {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid gray;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
}

.testing {
  width: 100px;
  height: 100px;
}

.toggleCameraIcon {
  color: white;
  font-size: 28px;
  position: absolute;
  margin-left: 90%;
  margin-top: 15px;
}

.xOutSignup {
  font-size: 30px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}


/*/////animation stuff*/
/*//////////////////////////////*/
@-webkit-keyframes slideInSmooth0 {
  0% {
    -webkit-transform: translate3d(0%,0,0);
  }

  50% {
    -webkit-transform: translate3d(-50%,0,0);
  }

  100% {
    -webkit-transform: translate3d(-100%,0,0);
  }
}

@-webkit-keyframes slideStep2Smooth {
  0% {
    -webkit-transform: translate3d(100%,0,0);
  }

  10% {
    -webkit-transform: translate3d(90%,0,0);
  }

  20% {
    -webkit-transform: translate3d(80%,0,0);
  }

  30% {
    -webkit-transform: translate3d(70%,0,0);
  }

  40% {
    -webkit-transform: translate3d(60%,0,0);
  }

  50% {
    -webkit-transform: translate3d(50%,0,0);
  }

  60% {
    -webkit-transform: translate3d(40%,0,0);
  }

  70% {
    -webkit-transform: translate3d(30%,0,0);
  }

  80% {
    -webkit-transform: translate3d(20%,0,0);
  }
  90% {
    -webkit-transform: translate3d(10%,0,0);
  }

  100% {
    -webkit-transform: translate3d(0%,0,0);
  }
}

@-webkit-keyframes slideStep2Smooth2 {
  0% {
    -webkit-transform: translate3d(-100%,0,0);
  }

  10% {
    -webkit-transform: translate3d(-110%,0,0);
  }

  20% {
    -webkit-transform: translate3d(-120%,0,0);
  }

  30% {
    -webkit-transform: translate3d(-130%,0,0);
  }

  40% {
    -webkit-transform: translate3d(-140%,0,0);
  }

  50% {
    -webkit-transform: translate3d(-150%,0,0);
  }

  60% {
    -webkit-transform: translate3d(-160%,0,0);
  }

  70% {
    -webkit-transform: translate3d(-170%,0,0);
  }

  80% {
    -webkit-transform: translate3d(-180%,0,0);
  }
  90% {
    -webkit-transform: translate3d(-190%,0,0);
  }

  100% {
    -webkit-transform: translate3d(-200%,0,0);
  }
}

.slideLeft0{
  -webkit-animation: slideInSmooth0 ease-in 1;
  animation: slideInSmooth0 ease-in 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
}

.slideLeftStep{
  -webkit-animation: slideStep2Smooth linear 1;
  animation: slideStep2Smooth linear 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
}

.slideLeftStep2{
  -webkit-animation: slideStep2Smooth2 linear 1;
  animation: slideStep2Smooth2 linear 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
}


/*/////angular animations/////*/

/*@-webkit-keyframes hideEmail {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.0;
  }
}

.ng-hide-remove {
  -webkit-animation: hideEmail ease-in 1;
animation: hideEmail ease-in 1;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-duration: 750ms;
animation-duration: 750ms;
}*/

/*//////makes the button slide up*/
@-webkit-keyframes emailSlideUp {
  0% {
    margin-top: 65px;
  }
  25% {
    margin-top: 52px
  }
  50% {
    margin-top: 41px;
  }
  75% {
    margin-top: 32px
  }
  100% {
    margin-top: 25px;
  }
}

.slideUpPw {
  -webkit-animation: emailSlideUP ease-in 1;
animation: emailSlideUp ease-in 1;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-duration: 350ms;
animation-duration: 350ms;
}
