/****** Gallery List ******/

.submittedRow {
  padding: 10px 15px;
  border-bottom: 1px solid #F3EEEE;
  height: auto;
  display: flex;
}

.subPhotoCell {
  width: 80px;
  height: 80px;
}

.subPhotoCell img{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.subPhotoCell video{
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.submitPhotosHolder {
  padding: 0px;
  flex: 0 0 80px;
}

.submitPhotoXHolder {
  width: 20%;
  color: white;
  font-size: 21px;
  padding-left: 15px;
  padding-top: 15px;
}

.submissionInfo {
	flex-grow: 1;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.submissionInfo-shots-number{
	font-size: 18px;
	color: #4daf7c;
	margin-bottom: 5px;
	letter-spacing: 1px;
}

.submissionInfo-date{
	font-size: 14px;
	color: #888888;
}

.text-dark{
	color: #555555;
}

.submitPhotoName {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  height: 35px;
  font-size: 15px;
  color: white;
  border: 2px solid white;
  margin-top: 10px;
  padding-top: 5px;
  border-radius: 3px;
}



/****** Submission Modal (Multi Image) ******/





/****** Single Image ******/

.singleImageModal {
  padding: 0px;
  position: fixed;
  height: 667px;
  margin-left: 100%;
  background-color: rgba(0,0,0,.85);
  z-index: 26;
}

.singleImage {
  padding: 0px;
  width: auto;
  max-width: 100%;
  height: auto;
}

.singleImageHolder {
  padding: 0px;
  margin: 60px auto 0;
  width: 94%;
}

.singleInfoHolder {
  margin-top: 5px;
  width: 100%;
  padding: 0px;
  text-align: center;
}

.singlePrice {
	margin-top: 10px;
  font-size: 18px;
  color: #B2B2B2;
  font-weight: 300;
}

.singleWho {
	margin-top: 10px;
  font-size: 18px;
  color: rgba(255,255,255,.7);
  font-weight: 300;
}

.singleWho .text-dark, .singlePrice .text-dark {
  color: #ffffff;
}
